.annotate {
	 font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 12px;
}

.small-text {
	font-size: .4em;
	color: #666;
}

.small_width input {
	background-color: #fff;
	padding: 3px;
}

input[type=email] {
	background-color: #fff;
}

.screen-reader-only{position:absolute; clip:rect(1px,1px,1px,1px); padding:0; border:0; height:1px; width:1px; overflow:hidden}

.an_h2 {

  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;

}

.an_news_section a {
  color: #000;
  text-decoration: underline;
}

.an_news_section {
  font-size: 12px;
}

.an_news_section a:focus, .an_news_section a:hover {
  outline: dotted 1px #000;
  outline-offset: 3px;
}


footer a:focus, footer a:hover {
	outline: solid 2px #fff;
	outline-offset: 2px;
}

img.blue-border {
	border-radius: 3px;
    box-shadow: #eee 1px 1px 1px 10px;
}

.caption {
	display: block;
}

.required {
	display: block;
	margin-bottom: 1rem;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.required::after {
	content: '*';
	color: #c00 !important;
	font-size: 18px;
}

.annotate-error {
	box-shadow: #c00 0px 0px 7px 1px !important;

}

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

   #results_table tbody td div {
    display: block;
    border-bottom: solid 1px #666;
    padding: 5px;
   }

   .article-date {
    color: #666;
    font-size: .89rem;
    display: block;
   }

.annotate-h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  font-weight: 100;
}

.annotate-h2 {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  font-size: 1.3rem;
  font-weight: 100;
}

.annotate-h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  padding-left: 1rem;
}

.annotate-h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: .3rem;
  font-weight: 600;
}

.annotate-h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}

.an_focus a:focus, .an_focus a:hover {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.annotate-more-links {
  position: absolute;
    right: 10px;
    top: 32px;
}

.annotate-close-link {
  position: absolute;
  right: 15px;
  top: 15px;
}

.annotate-card-small {
  width: 475px;
  height: 283px;
}

.an-ellipsis {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.an-card {
  display: inline-block;
  width: 48%;
  margin: 1%;
  height: 250px;
  vertical-align: top;
  box-shadow: #666 1px 2px 3px 1px;
  font-family: 'Open sans', sans-serif;
}

.an-card-title {
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 5px;
  height: 43px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.an-card-title::first-letter {
    font-size: 1.5rem;
    color: #739b6a;
    /*text-shadow: #666 1px 1px 2px;*/
    /*border: solid 2px #dbdbdb;*/
    padding: 3px 2px;
    border-radius: 50%;
    /*background: #eee;*/
}

.an-card-url {
  border-top: solid 1px #cecece;
  padding: 5px;
  height: 35px;
}

.an-card-url a {
  font-weight: 700;
  color: #000080;
  font-size: .8rem;
  display: block;
}

.an-card-info {
  width: 100%;
  display: block;
  padding: 5px;
  font-size: .8rem;
  display:none;
}

.an-card-annotation {
  overflow-y: auto;
  height: 171px;
}

.an-card-annotation::-webkit-scrollbar {
    width: .6em;
}
 
.an-card-annotation::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.an-card-annotation::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  outline: 1px solid #444;
}

.an-card-session {
  display: none;
}

.annotate-res-width {
  width: 95%;
}

.an-card-associate {
    font-weight: 700;
    font-size: .9rem;
    border-radius: 50%;
    border-width: 2px;
    border-color: #dbdbdb;
    border-style: solid;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.delete-card {
  position: absolute;
  color: #444;
  display: inline;
  margin-top: 5px;
}

#annotations_table {
  display:none;
}

.an-table {
  font-family: 'Open sans', sans-serif;
}

.an-table td {
  text-align: left;
  font-size: 13.5px;
  font-weight: 300;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;  
}

.an-table th {
  display: inline-block;
  text-align: left;
}

.an-table-title {
  width: 20%;
}

.an-table-url {
  width: 20%;
}

.an-table-username {
  width: 10%;
}

.an-table-obj {
  width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.an-table-edit {
  width: 10%;
  font-size: .7rem;
  text-align: center !important;
}

.an-table-delete {
  width: 10%;
  font-size: .7rem;
  text-align: center !important;
}

.an-table-obj .annotate-res-width {
  display: inline;
  width: 48%;
}